*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

html {
    width: 100%;
    overflow-x: hidden; /* prevent horizontal scrollbar */
}

body {
    background-color: var(--Light-grayish-cyan);
    font-family: Space Mono, sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
}

.container {
    background-color: var(--White);
    border-radius: 1rem;
    padding: 1.5rem;
}

.price {
    background-color: var(--Very-light-grayish-cyan);
    color: var(--Very-dark-cyan);
    display: flex;
    text-align: right;
    border: none;
    font-size: 1.44rem;
    margin: 0.5rem 0 0 0;
    width: 11.2rem;
}

.money-logo {
    position: relative;
    top: -1.5em;
    margin-left: 0.75rem;
    width: 0.5rem;
}

.tip {
    color: var(--White);
    background-color: var(--Very-dark-cyan);
    width: 5rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
}

.custom {
    background-color: var(--Very-light-grayish-cyan);
    color: var(--Very-dark-cyan);
    text-align: right;
    border: none;
    font-size: 1.44rem;
    width: 5rem;
}

.number-people {
    background-color: var(--Very-light-grayish-cyan);
    color: var(--Very-dark-cyan);
    display: flex;
    text-align: right;
    border: none;
    font-size: 1.44rem;
    width: 11.2rem;
}

.person-logo {
    position: relative;
    top: -1.5em;
    margin-left: 0.75rem;
    width: 0.5rem;
}

.tip-container {
    background-color: var(--Very-dark-cyan);
    width: 10.3rem;
    padding: 1rem;
}

h5 {
    color: var(--Very-light-grayish-cyan);
}

p {
    color: var(--Grayish-cyan);
}

.reset {
    background-color: var(--Strong-cyan);
}

.attribution { 
    display:flex;
    justify-content: center;
    transform: translateY(5rem);
    font-size: 11px; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}